<p class="notice">
	<%= notice %>
</p>

<div class="show_visual">
	<div class="show_visual">
		<p><b>Title:</b><%= @book.title %></p>
		<p><b>Body:</b><%= @book.body %></p>
	</div>

	<%= link_to "Edit", edit_book_path(@book) , :style=>"color:black";%>
	<font>|</font>
	<a href="/books">Back</a>
</div>